@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

table{
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    
}

table thead tr {
    height: 60px;
    background: #36304a;
}

table thead tr th {
    color: white;
}

table tbody tr {
    height: 50px;
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset;
    background-color:white;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

form{
display: flex;
    width: 85%;
    margin: 0 auto;
    text-align: left;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

form label{
    color: white;
    margin-bottom: 20px;

}

form .balance{
    display: flex;
}

form label input{
    height: 35px;
}

form input[type="submit"]{
    height: 41px;
    width: 85px;
    background: #36304a;
    color: white;
}